body {
    background-image: url(https://i.imgur.com/3Kr1cDd.jpg);
}

#loginsignup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10vh;
}
#middle{
    text-align: center;
    padding-bottom: 20px;
    font-size: 100px;
    margin-top: -25px;
}

.center {
    margin: auto;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

#switch {
    text-align: center;
}

#bttn {
    background-color: transparent;
    border: none;
}
#bttn:hover{
    color: purple;
}

.submit {
    margin-bottom: 6px;
}

#nav{
    background-color: rgb(239, 249, 253);
    border-bottom: 2px solid rgb(110, 191, 216);
    display: flex;
    align-items: baseline;
}

#nav h1 {
    font-size: 4em;
    margin-left: 15px;
}

.awayfromtop{
    margin: auto;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 35px;
}

.alltickets {
    margin: auto;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 40px;
    margin-top: 35px;
}

#textsize {
    font-size: 20px;
}

#ticketcards {
    margin-top: 30px;
}

.movetoright {
    margin-left: 4px;
}

#navlink a{
    color:rgb(44, 44, 44);
    margin-right: 7px;
    text-decoration: none;
    font-size: 17px;
}

#navlink a:hover{
    color: rgb(112, 191, 255);
}

#header {
    text-decoration: none;
    color: black;
}

#bold {
    font-weight: 700;
}




